{% extends "base.html" %}

{% block title %}Login | Easy Access Kenya{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <h1>Welcome Back 👋</h1>

        <p>Login to your Easy Access Kenya account.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label>Email Address</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >


            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >


            <button type="submit" class="auth-button">
                Login
            </button>

        </form>


        <p class="auth-link">
            Don't have an account?
            <a href="/register">Create Account</a>
        </p>

    </div>

</section>

{% endblock %}